<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>

    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if (blogss.length > 0) { %> <% blogss.forEach(blog => { %>

      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>

      <% }) %> <% } else { %>
      <p>No blogs to display</p>
      <% } %>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
